! special
*.foreground:   #f7f1ff
*.background:   #222222
*.cursorColor:  #f7f1ff

! black
*.color0:       #222222
*.color8:       #69676c

! red
*.color1:       #fc618d
*.color9:       #fc618d

! green
*.color2:       #7bd88f
*.color10:      #7bd88f

! yellow
*.color3:       #fce566
*.color11:      #fce566

! blue
*.color4:       #fd9353
*.color12:      #fd9353

! magenta
*.color5:       #948ae3
*.color13:      #948ae3

! cyan
*.color6:       #5ad4e6
*.color14:      #5ad4e6

! white
*.color7:       #f7f1ff
*.color15:      #f7f1ff
 
! font settings
Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.hintstyle:	hintslight
Xft.hinting:	1
Xft.antialias:	1
Xft.rgba:	rgb
