! -------------- COLOR IMPORT --------------
#include                        ".config/Xresources/COLORS"





! -------------- DEFINITIONS --------------
#define TERMINAL			xst

#define AA 					1
#define AHINT 				0
#define LCDF 				lcddefault
#define HINTS 				hintslight
#define HINT 				1
#define RGBA 				rgba

#define	FONT_STRING			FONT:pixelsize=FONT_SIZE_L:antialias=AA:autohint=AHINT
#define MONO_STRING			pango:MONO_FONT:pixelsize=MONO_FONT_SIZE_L





! -------------- TERMINAL --------------
st.termname:     			st-256color
st.title:					TERMINAL
st.shell:        			/bin/zsh
st.font:              		FONT_STRING
st.font-mono:				MONO_STRING
st.borderpx:          		10
st.cursorshape:       		1
st.cursorthickness:   		2
st.cursorblinkstyle:  		0
st.cursorblinkontype: 		1
st.bold_font:         		1
st.xfps:              		120
st.actionfps:         		30
st.mouseScrollLines:  		1
st.chscale:           		1.0
st.cwscale:           		1.0
st.blinktimeout:      		800
st.bellvolume:        		0
st.prompt_char:       		$
st.imstyle:           		root
st.opacity:					255





! -------------- GLOBAL SETTINGS --------------
Xft.autohint:				AHINT
Xft.lcdfilter:				LCDF
Xft.hintstyle:				HINTS
Xft.hinting:				HINT
Xft.antialias:				AA
Xft.rgba:					RGBA
