st.termname:     	st-256color
st.shell:        	/bin/zsh

st.font:              	Misc Termsyn:pixelsize=13:antialias=false:autohint:false;
st.borderpx:          	10
st.cursorshape:       	1
st.cursorthickness:   	2
st.cursorblinkstyle:  	0
st.cursorblinkontype: 	1
st.bold_font:         	1
st.xfps:              	120
st.actionfps:         	30
st.mouseScrollLines:  	1
st.chscale:           	1.0
st.cwscale:           	1.0
st.blinktimeout:      	800
st.bellvolume:        	0
st.prompt_char:       	$
st.imstyle:           	root
st.opacity:		255

#include "builds/i3-monokai/files/.config/Xresources/COLORS"
*.contrast: base02

! font settings
Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.hintstyle:	hintslight
Xft.hinting:	1
Xft.antialias:	1
Xft.rgba:	rgb

! Rofi
rofi.font:	Misc Termsyn 12
rofi.theme:	monokai.rasi
